body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color:white;
    color: black;
}
.dark-mode {
    background-color: black;
    color: white;
}
:root {
    --dark-gray: #333;
    --light-gray: #f0f0f0;
}

header, footer {
    background-color: var(--dark-gray);
    color: var(--light-gray);
    text-align: center;
    padding: 10px 0;
}
main {
    padding: 20px;
    border: 2px solid; 
}

p {
    margin-bottom: 5px;
    line-height: 1.5;
}
ol ul li {
    margin: 10px;
    padding: 5px; 
    line-height: 1.5;
    color: black;
}
a {
    color: orange;
}

h3.bool {
    color: orangered;
}
.bool{
    color: green;
}
.search {
    color: orangered;
}
.hide {
    display: none;
}
.text-container {
  
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(12, 35, 64);
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
}
.welcome-text-container {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f0f0f0;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20pt;
    line-height: 1.5;
    text-align: justify;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 3em;
}